<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Javabank</title>
    <link rel="stylesheet" th:href="@{/WEB-INF/templates/styles/style.css}" type="text/css">
</head>
<body class="edit">

<div class="edit-container">
    <div class="profile-panel">
        <div class="profile-header">
            <div class="no-avatar"></div>
            <div class="btn-container">
                <a href="#" class="btn CTA">Upload photo</a>
            </div>
        </div>

        <form class="details-container" th:action="@{/add}" method="post">
            <article>
                <h3>Personal details</h3>
                <div class="details">
                    <div class="card-detail">
                        <label>First Name</label>
                        <input type="text" required minlength="3" placeholder="John" name="firstName">
                    </div>
                    <div class="card-detail">
                        <label>Last Name</label>
                        <input type="text" required minlength="3" placeholder="Doe" name="lastName">
                    </div>
                    <div class="card-detail">
                        <label>Phone number</label>
                        <input type="tel" required minlength="9" placeholder="+351999999999" name="phone">
                    </div>
                    <div class="card-detail">
                        <label>Email</label>
                        <input type="email" required placeholder="john.doe@gmail.com" name="email">
                    </div>
                </div>
            </article>
            <article>
                <div class="btn-container fullwidth">
                    <button type="submit" class="btn CTA">Save</button>
                    <a th:href="@{/}" class="btn">Cancel</a>
                </div>
            </article>
        </form>
    </div>
</div>
</body>
</html>
