<!DOCTYPE html>

<html lang="en"> 
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Profile</title>

    <link href="https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link href="styles/stylesheet.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="wrapper-header">
            <div class="logo-name">
                <a class="any-logo" href="index1.html" rel="home" title="BankForAll">
                    <picture> 
                        <source class="no-lazy" media="(min-width: 640px)" srcset="../src/main/webapp/assets/assets/logoa.png">
                        <img class="logo-pic" data-intro-logo="" src="../src/main/webapp/assets/assets/logoa.png" alt="BankForAll logo" style="transform: translate(0px, 0px); opacity: 1;">
                    </picture> 
                    <span class="bank-for-all-name" style="transform: translate(0px, 0px); opacity: 1;">BankForAll</span>
                </a>
            </div>
            <div class="navigation-options">
                <nav>
                    <ul class="nav-elements">
                        <li><a href="#" >About</a></li>
                        <li><a class="element-to-hide" href="#" >Products</a></li>
                        <li><a href="index1.html" >Accounts</a></li>
                    </ul>
                </nav>
            </div>

            <div class="form-search">
                <form action="#" method="get">
                    <input id="input-bar" type="text" name="search"  /><br />
                    <input id="search-button" type="submit" name="search" value="Search">
                </form>
            </div>
        </div>
    </header>

    <main> 
        <div class="main-container-add-customer">
  
            <div class="main-header">
                    <button id="go-back-button" class="light" href="index.html">
                        <img class="cross-img" src="../src/main/webapp/assets/assets/chevron-left-regular-24.png"/>
                        <p class="go-back-txt">Go back</p>
                    </button>
            </div>

            <div class="add-customer-card">
                <div class="user-photo-upload-button">
                    <img id="upload-img" class="profile-img" src="../src/main/webapp/assets/assets/bxs-user.svg" alt="Photo" >
                    
                    <button id="upload-button" class="dark">Upload Photo</button>
                </div>

                <h3 class="big-title" id="personal-detailes-add">Personal Details</h3>

                <div class="form-add-customer">
                    <form class="form-add">
                        <p class="title" >First Name</p>
                        <input class="input-add" type="text" placeholder="John" />
                        <p class="title" >Last Name</p>
                        <input class="input-add" type="text" placeholder="Snow" />
                        <p class="title" >Phone Number</p>
                        <input class="input-add" type="text" placeholder="+351 987654545" />
                        <p class="title" >Email</p>
                        <input class="input-add" type="email" placeholder="john.snow@example.com" />
                        <p class="title" >Password</p>
                        <input class="input-add" type="password" placeholder="***********" />
                        <p class="title" >Password Confirmation</p>
                        <input class="input-add" type="password" placeholder="***********" />

                        <div class="button-container">
                            <button class="dark">Save</button>
                            <button class="light">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <p>Unlocking Finantial Freedom, one Byte at a Time.</p>
        <div class="contacts">
            <p>Contact us:</p>
            <div>
                <p>Catarina Pestana</p>
                <a href="mailto:catarinampestana@ua.pt">Email</a>
            </div>
            <div>
                <p>David Vilaverde</p>
                <a href="mailto:davidvilaverd@hotmail.com">Email</a>
            </div>
        </div>
        <p>&copy; 2024 BankForAll</p>
    </footer>
</body>